.FunctionHuman {
    color: white;
    
    margin-top: 46px;
    height: 257px;
    
    background-color: rgb(20, 20, 22);
    
    
  
  }
  
  .text {
    margin:0 ;
    margin-left: 50px;
    margin-top: 25px;
    color: rgb(143, 143, 143);
    grid-area: j;
  }
  
  .name {
    float: left;
    cursor: pointer;
  }
  
  .name1 {
    float: left;
   margin-left: 50px;
    margin-top: 6px;
    color: rgb(143, 143, 143);
    cursor: pointer;
  }
  
  .name2 {
    float: left;
   margin-left: 50px;
    margin-top: 6px;
    color: rgb(143, 143, 143);
    cursor: pointer;
  }