.Content {
  grid-area: c;
  background-color: rgb(31, 31, 37);
  height:auto;
  width: 1535px;
  float: left;
  overflow: hidden;
}


::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}
  

::-webkit-scrollbar {
  width: 2px;
  background: rgb(0, 0, 0);
}
















