.Imgcontent {
    width: 1291px;
    float:top;
    overflow: hidden;
  }
  
  .Imgcontent {
    background-color: aqua;
    width: 1335px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
   background-position-x: 1335px;
   background-position-y: 600px ;
    
    background-image: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   }